.header {
    background-color: #1F2937;
    color: white;
    
}


.div1 {
    background-color: #1F2937;
    color: white;
}

.div3 {
    background-color: #E4E7EB;
}

.footerBox {
    background-color: #3B81F6;
    color: white;
}